astroid==2.9.3
attrs==21.4.0
Automat==20.2.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
configobj==5.0.6
constantly==15.1.0
cryptography==36.0.1
cssselect==1.1.0
dbus-python==1.2.16
distro-info==1.0
Guake==3.6.3
httplib2==0.18.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
isort==5.10.1
lazy-object-proxy==1.7.1
lineedit==0.1.6
lxml==4.7.1
mccabe==0.6.1
parsel==1.6.0
pbr==5.5.0
platformdirs==2.4.1
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.8.0
pycparser==2.21
pycurl==7.43.0.6
PyDispatcher==2.0.5
Pygments==2.11.2
PyGObject==3.38.0
pyOpenSSL==21.0.0
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-debian==0.1.39
python-debianbts==3.1.0
python-xapp==2.0.2
queuelib==1.6.2
radian==0.5.13
rchitect==0.3.35
reportbug==7.10.3+deb11u1
requests==2.25.1
service-identity==21.1.0
setproctitle==1.2.1
six==1.16.0
terminator==2.1.0
toml==0.10.2
Twisted==21.7.0
typing-extensions==4.0.1
unattended-upgrades==0.1
urllib3==1.26.5
w3lib==1.22.0
wcwidth==0.2.5
wrapt==1.13.3
zope.interface==5.4.0
