{% extends "base.html" %}

{% block head %}
<title>Inicio</title>
{% endblock %}

{% block body %}
<main>
    <h1 id="informe-técnico" class="display-5 fw-bold">
        <center>¡Bienvenido a hierarcovid!</center>
    </h1>
    <p class="lead mb-4 fs-4">
        ¡Bienvenido a hierarcovid!. En este sitio web podrás encontrar información relacionada con la modelación
        del numero de recuperados de Covid-19 desde que se registró el primer caso hasta el 2 de febrero de 2021.
        Echa un vistazo a los recursos del lugar, a las visualizaciones de los resultados del modelo tanto a nivel
        de gráficas como en su representación geoespacial.
    </p>
    <div class="p-5 mb-4 bg-light rounded-3" id="us" style="background-color: white !important;">
        <div class="container-fluid py-5">
            <h2 class="display-10 fw-bold">Conoce un poco más</h1>
        </div>
        <hr>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"
        style="padding-top: 10%;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="text-center">
                    <h1 class="display-5 fw-bold">Simón Pedro Galeano Muñoz</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9" style="padding-top: 5rem;">
                            <p class="lead mb-4 fs-3">
                                Estudiante de estadística, amante de los datos y de las
                                matemáticas, entusiasta de la programación y de las buenas caminatas.
                            </p>
                        </div>
                        <div class="col-sm">
                            <a href="https://github.com/SimonPGM" target="_blank">
                                <img class="d-block mx-auto mb-4"
                                    src="https://avatars.githubusercontent.com/u/71856010?v=4" alt=""
                                    style="border-radius: 50%; width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="text-center">
                    <h1 class="display-5 fw-bold">Repositorio de GitHub</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9" style="padding-top: 5rem;">
                            <p class="lead mb-4 fs-3">
                                Si quieres ver el código con el que fue desplegada esta aplicación y todo lo que hay
                                detrás de ella como la construcción de los datos, los modelos, la estadística
                                descriptiva, entre otros, te invitamos a que visites el repositorio del proyecto. Da
                                click al logo para más información.
                            </p>
                        </div>
                        <div class="col-sm">
                            <a href="https://github.com/SimonPGM/HierarchicalApp" target="_blank">
                                <img class="d-block mx-auto mb-4"
                                    src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                    alt="" style="border-radius: 50%; width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}